footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(234,234,236,1);
    padding: 10px;
    width: 100%;
    color: gray;
}

.right {
    float: right;
}

h5{
    display: inline;
    font-size: 14px;
    font-weight: normal;
    padding: 9px;
}

h1{
    text-align: center;
    font-family: Futura;
    font-size: 89px;
    display: inline;
    font-weight: lighter;
}

body{
    font-family: sans-serif;
}

main{
    text-align: center;
    position: relative;
    top: 107px;
}

main h1{
    letter-spacing: -10px;
    font-weight: lighter;
}

p{
    font-size: 13px;
    margin: 30px 0px 0px 0px;
}

a{
    text-decoration: none;
    color: gray;
}

.above a {
    color: rgb(12, 11, 11);
    position: relative;
    top: 11px;
    left: 6px;
}

a:hover{
    text-decoration: underline;
}

button{
    background: rgb(244, 244, 247);
    border-radius: 5px;
    border: none;
    border: solid 1px transparent;
    padding: 9px 15px;
    cursor: pointer;
    margin: 7px 5px 0px 5px;
    font-size: 14px;
}

button:hover{
    border: 1px solid lightgray;
}

input:hover{
    box-shadow: 5px;
}

#french{
    color: rgb(4, 4, 158);
}

#portuguese{
    color: rgb(4, 4, 158);
}

.wrapper{
    position: static;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.search{
    border: 1px solid lightgray;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0), 0px -1px 1px 1px rgba(0,0,0,0);
    border-radius: 30px;
    height: 48px;
    width: 80%;
    max-width: 650px;
    padding: 2px 23px 2px 23px;
    margin: 25px 0px 20px 0px;
    outline: none;
    
}

.search-icon{
    position: fixed;
    width: 18px;
    left: 235px;
    top: 290px;
}

/*.clear-icon{
    position: absolute;
    width: 10px;
    left: 364px;
    top: 28px;
    cursor: pointer;
}*/

.search:hover{
    border: 1px solid white;
    box-shadow: 0px 0.8px 0.8px 0.8px rgba(0,0,0,0.1),0px -0.8px 0.8px 0.8px rgba(0,0,0,0.1), 0px 1.3px 1.3px 1.3px rgba(0,0,0,0.07),0px -1.3px 1.3px 1.3px rgba(0,0,0,0.07);
}